#mapid {
	height:420px;
	width: 1120px;
	margin-left: 75px;
	margin-right: 100px;
}

body {
       width:70%;
}
.container .box {
  display : flex;
  flex-direction : row;            
}
      
.container .box .box-cell.box1 {
 background:green;
 color:white;
 text-align:justify;
}

.container .box .box-cell.box2 {
 background:lightgreen;
 text-align:justify
}

h1 {
  font-size: 300%;
  text-align: left;
  margin: 20%;
  
}

h2 {
  font-size: 200%;
  margin: 20%;
}

p {
  font-size: 100%;
  text-align:justify;
}

.legend {
	color: #555;
	padding: 3px 4px;
	font: Verdana;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.75;
}	

